{name, "riak_err"}.
{authors, ["Scott Lystig Fritchie <nospam@snookles.com>"]}.
{description, "Enhanced SASL Error Logger for Riak"}.
{homepage, "https://github.com/basho/riak_err"}.
{rebar_compatible, true}.
{license, "Apache Public License", "LICENSE"}.
{url, {git, "https://github.com/basho/riak_err.git", {tag, "riak_err-1.0.0"}}}.
{applications, [riak_err]}.
